addons: {}
after_failure: [.env/bin/pip freeze]
after_success: [codecov]
dist: trusty
group: stable
install: [pip install virtualenv==15.2.0, pip install codecov==2.0.15]
language: python
os: linux
python: '3.6'
script: [make env, 'if [[ $TRAVIS_PYLINT != ''true'' ]]; then make test; else make
    pylint; fi']
sudo: false
