after_success: ['if [[ $TRAVIS_PYTHON_VERSION != 2.6 && $TRAVIS_PYTHON_VERSION !=
    nightly ]]; then cd ../ && codecov -e DEPS; fi']
env: [DEPS=true]
install: ['if [[ $TRAVIS_PYTHON_VERSION == ''2.6'' ]]; then travis_retry pip install
    unittest2==1.1.0; fi', 'if [[ $TRAVIS_PYTHON_VERSION == 2* && $DEPS == true ]];
    then travis_retry pip install futures==3.0.3 mock==1.3.0 Monotime==1.0 trollius==2.0;
    fi', 'if [[ $TRAVIS_PYTHON_VERSION == ''pypy'' && $DEPS == true ]]; then travis_retry
    pip install futures==3.0.3 mock==1.3.0; fi', 'if [[ $TRAVIS_PYTHON_VERSION !=
    ''pypy''* && $DEPS == true ]]; then travis_retry pip install pycurl==7.19.5.1;
    fi', 'if [[ $TRAVIS_PYTHON_VERSION == ''3.2'' && $DEPS == true ]]; then travis_retry
    pip install mock==1.3.0; fi', 'if [[ $TRAVIS_PYTHON_VERSION != ''3.2'' && $TRAVIS_PYTHON_VERSION
    != ''pypy''* && $DEPS == true ]]; then travis_retry pip install Twisted==15.4.0;
    fi', 'if [[ $TRAVIS_PYTHON_VERSION == ''2.7'' && $DEPS == true ]]; then travis_retry
    pip install sphinx==1.3.1 sphinx_rtd_theme==0.1.9; fi', 'if [[ $TRAVIS_PYTHON_VERSION
    == ''3.5'' && $DEPS == true ]]; then travis_retry pip install sphinx==1.3.1 sphinx_rtd_theme==0.1.9;
    fi', 'if [[ $TRAVIS_PYTHON_VERSION != ''pypy''* ]]; then export TORNADO_EXTENSION=1;
    fi', travis_retry python setup.py install, 'if [[ $TRAVIS_PYTHON_VERSION == ''3.2''
    ]]; then travis_retry pip install ''coverage<4.0''; fi', travis_retry pip install
    codecov==1.5.1, curl-config --version; pip freeze]
language: python
os: linux
python: 3.4
script: [cd maint, cp ../.coveragerc ., 'if [[ $TRAVIS_PYTHON_VERSION != ''pypy''*
    ]]; then export TORNADO_EXTENSION=1; fi', export TARGET="-m tornado.test.runtests",
  export ASYNC_TEST_TIMEOUT=15, 'if [[ $TRAVIS_PYTHON_VERSION != 2.6 && $TRAVIS_PYTHON_VERSION
    != nightly ]]; then export TARGET="-m coverage run $TARGET"; fi', python $TARGET,
  python $TARGET --ioloop=tornado.platform.select.SelectIOLoop, python -O $TARGET,
  LANG=C python $TARGET, LANG=en_US.utf-8 python $TARGET, 'if [[ $TRAVIS_PYTHON_VERSION
    == 3* ]]; then python -bb $TARGET; fi', 'if [[ $TRAVIS_PYTHON_VERSION != pypy*
    && $DEPS == true ]]; then python $TARGET --resolver=tornado.netutil.ThreadedResolver;
    fi', 'if [[ $TRAVIS_PYTHON_VERSION == 2* && $DEPS == true ]]; then python $TARGET
    --httpclient=tornado.curl_httpclient.CurlAsyncHTTPClient; fi', 'if [[ $TRAVIS_PYTHON_VERSION
    == 2* && $DEPS == true ]]; then python $TARGET --ioloop_time_monotonic; fi', 'if
    [[ $TRAVIS_PYTHON_VERSION != ''3.2'' && $TRAVIS_PYTHON_VERSION != ''pypy''* &&
    $DEPS == true ]]; then python $TARGET --ioloop=tornado.platform.twisted.TwistedIOLoop;
    fi', 'if [[ $TRAVIS_PYTHON_VERSION == 3.4 || $TRAVIS_PYTHON_VERSION == 3.5 ]];
    then python $TARGET --ioloop=tornado.platform.asyncio.AsyncIOLoop; fi', 'if [[
    $TRAVIS_PYTHON_VERSION == 2* && $DEPS == true ]]; then python $TARGET --ioloop=tornado.platform.asyncio.AsyncIOLoop;
    fi', 'if [[ $TRAVIS_PYTHON_VERSION == 2* && $DEPS == true ]]; then python $TARGET
    --resolver=tornado.platform.twisted.TwistedResolver; fi', 'if [[ $TRAVIS_PYTHON_VERSION
    == 3* && $TRAVIS_PYTHON_VERSION != ''3.2'' ]]; then python $TARGET --ioloop_time_monotonic;
    fi', 'if [[ $TRAVIS_PYTHON_VERSION != 2.6 && $TRAVIS_PYTHON_VERSION != nightly
    ]]; then coverage xml; fi', export TORNADO_EXTENSION=0, 'if [[ $TRAVIS_PYTHON_VERSION
    == ''3.5'' && $DEPS == true ]]; then cd ../docs && mkdir sphinx-out && sphinx-build
    -E -n -W -b html . sphinx-out; fi', 'if [[ $TRAVIS_PYTHON_VERSION == ''2.7'' &&
    $DEPS == true ]]; then cd ../docs && mkdir sphinx-doctest-out && sphinx-build
    -E -n -b doctest . sphinx-out; fi', 'if [[ $TRAVIS_PYTHON_VERSION == ''3.5'' &&
    $DEPS == true ]]; then cd ../docs && mkdir sphinx-doctest-out && sphinx-build
    -E -n -b doctest . sphinx-out; fi']
sudo: false
