after_success: [coveralls]
dist: precise
group: stable
install: [pip install -e ., pip install coveralls==1.1, pip install -r dev-requirements.txt]
language: python
notifications:
  email: false
  irc:
    channels: irc.freenode.org#paramiko
    on_failure: change
    on_success: change
    template: ['%{repository}@%{branch}: %{message} (%{build_url})']
os: linux
python: '3.5'
script: [inv test --coverage, invoke docs -o -W www -o -W]
sudo: false
