after_success: ['if [ "$TRAVIS_BRANCH" = "master" ]; then pip install pycurl==7.43.0
    requests==2.18.4 && contrib/make_locale; fi']
dist: trusty
group: stable
install: [pip install tox==2.9.1, pip install tox-travis==0.8]
language: python
os: linux
python: '3.5'
script: [tox]
sudo: false
